@use './../../styles/vars';

.form {
  background-color: white;
  display: flex;

  &__input {
    height: 3rem;
    flex-grow: 1;
    border: none;
    padding: 0 1rem;
  }

  &__button {
    border: 0;
    background: none;
    color: vars.$text-blue;
  }
}
